In [2]:
API_KEY = "AIzaSyAt0VV-yVF0Osf00YYQ4tgYXl45Jkltcg0"

In [3]:
import pickle
import os
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split, GridSearchCV

In [4]:
videos = {
    "Psy": "9bZkp7q19f0",
    "KatyPerry": "CevxZvSJLk8",
    "LMFAO": "KQ6zr6kCPj8",
    "Eminem": "uelHwf8o7_U",
    "Shakira": "pRpeEdMmmQ0"
}

In [5]:
all_comments = pd.DataFrame()
for filename in os.listdir("media"):
    artist = filename.split(".")[0].split("-")[-1]
    if artist not in videos:
        print(filename)
        continue
    else:
        video_id = videos[artist]
    df = pd.read_csv(f"media/{filename}")
    all_comments = pd.concat([all_comments, df])
#     break

youtube_comments_20120117.csv

In [6]:
df = pd.read_csv("media/youtube_comments_20120117.csv", header=None)

In [7]:
all_comments.columns

Index(['COMMENT_ID', 'AUTHOR', 'DATE', 'CONTENT', 'CLASS'], dtype='object')

In [8]:
df.columns = ["COMMENT_ID", "VIDEO_ID", "AUTHOR", "CONTENT", "CLASS"]

In [9]:
comments = pd.concat([df[["CONTENT", "CLASS"]], all_comments[["CONTENT", "CLASS"]]])
comments.sample(5)

                                                   CONTENT  CLASS
2612725  @user1376118 \n500000 людей на 2х автобусах??)...      0
1056201       @user72243 mybe its cause your in a playlist      0
4301650  @user257568 \nFUCK YOU, your a fucking prick ....      0
5746997  @user2611988 I﻿ hate Miley Cyrus.  ------>  th...      0
5062502                         He kind of looks like﻿ me?      0

In [10]:
import re
def clean_text(text):
    return " ".join(re.findall("[A-Za-z]+", text.lower()))

In [11]:
comments["CLEAN_CONTENT"] = comments.CONTENT.apply(clean_text)

In [12]:
comments.sample(5)

,CONTENT,CLASS,CLEAN_CONTENT
6257494,*Sulk* I live﻿ in the wrong country...\n(under...,0,sulk i live in the wrong country n understand ...
5502595,i love the go-part:)\n﻿,0,i love the go part n
4111025,I add people I don't have a problem with and﻿ ...,0,i add people i don t have a problem with and t...
5255858,@user2411170﻿ Haha dumbass,0,user haha dumbass
1980509,when the fuck they make these videos every day?,0,when the fuck they make these videos every day

In [13]:
clean_comments = comments[comments.CLEAN_CONTENT.str.len() > 1]

In [14]:
clean_comments.reset_index(drop=True, inplace=True)
clean_comments.sample(5)

,CONTENT,CLASS,CLEAN_CONTENT
2228530,A video where you dont talk the first 4 minute...,0,a video where you dont talk the first minutes ...
5057627,"qri, will you marry me?﻿ *_________*",0,qri will you marry me
279945,CUTE,0,cute
2884725,why is everyone claiming its the game? how doe...,0,why is everyone claiming its the game how does...
3673067,"I'm not sure who was weirder. Carrot Cake, or﻿...",0,i m not sure who was weirder carrot cake or vi...

In [15]:
# Checking for imbalance in dataset
spam_comments = clean_comments[clean_comments.CLASS == 1]
ham_comments = clean_comments[clean_comments.CLASS == 0]
spam_comments.shape[0]/clean_comments.shape[0], ham_comments.shape[0]/clean_comments.shape[0]

(0.0751106489234639, 0.9248893510765361)

In [16]:
def has_url(text):
    return bool(re.search(r'((https|http)?:\/\/(\w|\.|\/|\?|\=|\&|\%)*\b|watch\?v)', text))

def starts_with_punc(text):
    text = text.strip()
    start_char = text[0]
    i = 1
    while i < len(text):
        if text[i] == start_char:
            i += 1
        else:
            break
    return not start_char.isalnum() and i > 2

In [17]:
# Percentage of comments with urls
print("Spam Comment URL %:", spam_comments.CONTENT.apply(has_url).sum()/spam_comments.shape[0]*100)
print("Ham Comment URL %:", ham_comments.CONTENT.apply(has_url).sum()/ham_comments.shape[0]*100)

Spam Comment URL %: 4.265031194372916
Ham Comment URL %: 0.40625909530378385

In [18]:
# Percentage of comments with all uppercase words
print("Spam Comment all uppercase words %:", spam_comments.CONTENT.apply(lambda x: x.isupper()).sum()/spam_comments.shape[0]*100)
print("Ham Comment all uppercase words %:", ham_comments.CONTENT.apply(lambda x: x.isupper()).sum()/ham_comments.shape[0]*100)

Spam Comment all uppercase words %: 5.440868949069354
Ham Comment all uppercase words %: 4.728479030999163

In [19]:
# Percentage of duplicate comments
print("Spam Comment duplicates %:", (1-spam_comments.drop_duplicates('CLEAN_CONTENT').shape[0]/spam_comments.shape[0])*100)
print("Ham Comment duplicates %:", (1-ham_comments.drop_duplicates('CLEAN_CONTENT').shape[0]/ham_comments.shape[0])*100)

Spam Comment duplicates %: 52.041027945319115
Ham Comment duplicates %: 13.623723411888689

In [20]:
# Percentage of comments that begin with punctuations
print("Spam Comment that begin with punctuations %:", spam_comments.CONTENT.apply(starts_with_punc).sum()/spam_comments.shape[0]*100)
print("Ham Comment that begin with punctuations %:", ham_comments.CONTENT.apply(starts_with_punc).sum()/ham_comments.shape[0]*100)

Spam Comment that begin with punctuations %: 1.357300865838273
Ham Comment that begin with punctuations %: 0.17943680212320684

In [20]:
video_ids = ["im9nFi79n8c", "5TH0bXVQNB8", "5TH0bXVQNB8", "GdhDo9vTYJs", "ocNxd2xDr38", "pf9M8Ckomo0", "MVu8QbxafJE", "pQWGFKhBQwU", "ntQlpBBmY9Q"]

In [21]:
# -*- coding: utf-8 -*-

# Sample Python code for youtube.commentThreads.list
# See instructions for running these code samples locally:
# https://developers.google.com/explorer-help/code-samples#python

import os

import googleapiclient.discovery

def find_all_comments(videoIDs=[], maxResults=20):
    # Disable OAuthlib's HTTPS verification when running locally.
    # *DO NOT* leave this option enabled in production.
    os.environ["OAUTHLIB_INSECURE_TRANSPORT"] = "1"
    
    api_service_name = "youtube"
    api_version = "v3"
    DEVELOPER_KEY = API_KEY
    for videoID in videoIDs:
        pageToken = None
        all_comments = []
        count = 0
        while True:
            youtube = googleapiclient.discovery.build(
                api_service_name, api_version, developerKey = DEVELOPER_KEY)

            request = youtube.commentThreads().list(
                part="snippet",
                pageToken=pageToken,
                maxResults=maxResults,
                videoId=videoID,
            )
            response = request.execute()
            comments = response["items"]
            all_comments += comments
            count += 1
            if count > 0 and count % 100 == 0:
                print(f"{count*maxResults} comments read...")
            if "nextPageToken" not in response:
                break
            pageToken = response["nextPageToken"]
            data = [(
        x["id"], 
        x["snippet"]["topLevelComment"]["snippet"]["textOriginal"], 
        x["snippet"]["topLevelComment"]["snippet"]["authorDisplayName"], 
        x["snippet"]["topLevelComment"]["snippet"]["likeCount"], 
        x["snippet"]["totalReplyCount"]) 
            for x in all_comments]
            comment_df = pd.DataFrame(data, columns=['id', 'text', 'author', 'likes', 'replies'])
        return comment_df

In [23]:
comments = find_all_comments(video_ids, 100)

In [24]:
comments

,id,text,author,likes,replies
0,UgyaWBhPZWdFSyiIWgx4AaABAg,So you can call out Russia but you are silent ...,Usman Qureshi,0,0
1,UgxJqjzilJ8oLHtVbiF4AaABAg,The live comments already pointed it out but a...,saintyoo,1,0
2,UgxPWiHwvo5g8wchy354AaABAg,You have no problem with Israel’s crimes but a...,Knight Tamimi,0,0
3,Ugw9xRomF_4eNPUBwah4AaABAg,I realize this video is relatively ancient by ...,ControllerTape,1,0
4,UgymhC9GsEMzin0w0Rp4AaABAg,My introduction to a lot of Nintendo products ...,Ambrosia,0,0
...,...,...,...,...,...
1195,Ugxw_IeAKEdmsrNUNld4AaABAg,have you not heard of jihad or crusade? religi...,Jacob,1,0
1196,UgzVXWM00h0a4Ha04AZ4AaABAg,fk russia,Jacob,0,0
1197,Ugz09ZOeArwzwsd8peh4AaABAg,"WAN, starts at a score of 8.5 P.T.S.D.",Carn Soaks,0,0
1198,Ugwy3SBMvcP24MjvxCd4AaABAg,Why are you going against Russia and still sho...,Rj,3,0
1199,UgwSv8grG6raRh6JeL94AaABAg,You boys should really stick to doing tech stu...,gimple,4,0

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X = clean_comments['CONTENT']
y = clean_comments['CLASS']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [24]:
vect = TfidfVectorizer(stop_words='english')
X_train_tfidf = vect.fit_transform(X_train)
X_test_tfidf = vect.transform(X_test)

In [25]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth =5)
model.fit(X_train_tfidf,y_train)
predictions = model.predict(X_test_tfidf)

In [26]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
confusion_matrix(y_test, predictions)

array([[1136453,    3519],
       [  71478,   21143]])

In [27]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.94      1.00      0.97   1139972
           1       0.86      0.23      0.36     92621

    accuracy                           0.94   1232593
   macro avg       0.90      0.61      0.66   1232593
weighted avg       0.93      0.94      0.92   1232593

In [28]:
#weighted

from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=5, class_weight= 'balanced')
model.fit(X_train_tfidf,y_train)
predictions = model.predict(X_test_tfidf)

In [29]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
confusion_matrix(y_test, predictions)

array([[1105455,   34517],
       [  56432,   36189]])

In [30]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.95      0.97      0.96   1139972
           1       0.51      0.39      0.44     92621

    accuracy                           0.93   1232593
   macro avg       0.73      0.68      0.70   1232593
weighted avg       0.92      0.93      0.92   1232593

In [ ]:
def search_para(docs, y):
    pipe = Pipeline([('tfidf', TfidfVectorizer(max_features=1000)), ('model', MLPClassifier())])
    params = {
        'tfidf__max_features': [1000, 5000, 10000],
        'tfidf__stop_words': [None, 'english'],
        'tfidf__min_df': [0, 0.01, 0.02],
        'tfidf__max_df': [0.9, 0.95, 1],
        'tfidf__sublinear_tf': [True, False],
        'model__activation': ['tanh', 'relu'],
        'model__max_iter': [100, 500, 1000],
        'model__learning_rate_init': [0.01, 0.001],
    }
    cv = GridSearchCV(pipe, param_grid=params, scoring="f1_macro", cv=5, n_jobs=-1, verbose=True)
    cv.fit(docs, y)
    return cv.best_params_

In [ ]:
search_para(X_train, y_train)